body {
  padding: 20px;
  font-family: monospace;
  background-color: #a0a4b2;
  width: 100%;
}

h3, h5 {
  text-shadow: 1px 1px 1px black;;
}

#text {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.header {
  padding-bottom: 40px;
}

.fadein {
  margin-bottom: 30px;
  display: none;
}